<% unless notice.nil? %>
  <input type="hidden" id="notice" value="<%= notice %>" data-type="<%= flash[:type] %>" data-state="<%= flash[:state] %>" data-rollback="<%= flash[:rollback_url] %>" />
<% end %>
<h3 class="header">Валюты</h3>
<blockquote>
  <p>информация о валютах загружается автоматически с сайта Центрального Банка и не может быть скорректирована пользователем<br/>
  обновлено: <strong><%= Currency.last.nil? ? 'Нет данных' : Currency.last.updated_at.strftime("%d.%m.%Y %H:%M:%S") %></strong></p>
  <%= link_to currencies_update_all_path, :class => "waves-effect waves-light btn green darken-1" do %>
    <i class="material-icons left">autorenew</i>Обновить</a>
  <% end %>
</blockquote>
<% unless Currency.all.nil?  %>
<div class="row">
  <div class="input-field col s6">
    <input id="search_field" type="text">
    <label for="search_field">Поиск</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s1">
    <input id="from_currency_count" value="1.00" type="text">
    <label for="from_currency_count" id="from_curr_lbl" class="active">Количество</label>
  </div>
  <div class="input-field col s2">
    <select id="from_currency">
      <% Currency.all.each do |c| %>
        <option value="<%= c.rate %>" data-count="<%= c.currency_count %>" data-ref="<%= c.cbr_num %>"><%= c.name %></option>
      <% end %>
    <select>
  </div>
  
  <div class="input-field col s1">
    <input id="to_currency_count" value="1.00" type="text" readonly>
    <label for="to_currency_count" id="to_curr_lbl" class="active">Количество</label>
  </div>
  <div class="input-field col s2">
    <select id="to_currency">
      <% Currency.all.each do |c| %>
        <option value="<%= c.rate %>" data-count="<%= c.currency_count %>" data-ref="<%= c.cbr_num %>"><%= c.name %></option>
      <% end %>
    <select>
  </div>
</div>

<table class="striped">
  <thead>
    <tr>
      <th>Валюта</th>
      <th>Количество</th>
      <th>Курс</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @currencies.each do |currency| %>
      <tr class="content-label">
        <td><img src="/images/flags/<%= currency.sign %>.png" height="20px" alt="<%= currency.sign %>" valign="middle" />&nbsp;<%= "#{currency.sign} #{currency.name}" %></td>
        <td><%= currency.currency_count %></td>
        <td><%= currency.rate %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">

$( document ).ready(function(){
  $('#search_field').on('keyup paste', function(){
    text = $(this).val();
    $('tr.content-label').show();
    $('.list-chk').addClass('visible');
    if(text.length > 0){
      $('tr.content-label').hide();
      $('.list-chk').removeClass('visible');
      $( "tr.content-label:contains('" + text + "')" ).show();
      $( "tr.content-label:contains('" + text + "') .list-chk" ).addClass('visible');
    }
  })
  $('#from_currency, #to_currency').on('change', function(){
    if (!$('#from_currency_count').val()){
      $('#from_curr_lbl').addClass('active')
      $('#from_currency_count').val(1.00)
    }
    if (!$('#to_currency_count').val()){
      $('#to_curr_lbl').addClass('active')
      $('#to_currency_count').val(1.00)
    }
    __convert_currency();
  })
  $('#from_currency_count').on('keyup paste', function(){
    __convert_currency()
  })

  function __convert_currency(){
    from_rate = $('option:selected', '#from_currency').val();
    from_count = $('option:selected', '#from_currency').attr('data-count');
    from_ref = $('option:selected', '#from_currency').attr('data-ref');
    convert_from_val = $('#from_currency_count').val()

    to_rate = $('option:selected', '#to_currency').val();
    to_count = $('option:selected', '#to_currency').attr('data-count');
    to_ref = $('option:selected', '#to_currency').attr('data-ref');
    convert_to_val = $('#to_currency_count').val()

    if (from_ref == '000'){
      num = convert_from_val / (to_rate / to_count);
      $('#to_currency_count').val(num.toFixed(2));
    }

    if (to_ref == '000'){
      num = convert_from_val * (from_rate / from_count);
      $('#to_currency_count').val(num.toFixed(2));
    }

    if (from_ref != '000' && to_ref != '000'){
      rur_for_from = from_rate / from_count
      rur_for_to = to_rate / to_count
      rate = rur_for_from / rur_for_to
      
      num = rate * convert_from_val

      $('#to_currency_count').val(num.toFixed(2));
    }
  }
})
</script>
<% end %>