<% unless notice.nil? %>
  <input type="hidden" id="notice" value="<%= notice %>" data-type="<%= flash[:type] %>" data-state="<%= flash[:state] %>" data-rollback="<%= flash[:rollback_url] %>" />
<% end %>
<h3 class="header">Валюты</h3>
<blockquote>
  <p>информация о валютах загружается автоматически с сайта Центрального Банка и не может быть скорректирована пользователем<br/>
  обновлено: <strong><%= Currency.last.updated_at.strftime("%d.%m.%Y %H:%M:%S") %></strong></p>
  <%= link_to currencies_update_all_path, :class => "waves-effect waves-light btn green darken-1" do %>
    <i class="material-icons left">autorenew</i>Обновить</a>
  <% end %>
</blockquote>

<div class="row">
  <div class="input-field col s6">
    <input id="search_field" type="text">
    <label for="search_field">Поиск</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s1">
    <input id="from_cur" type="text">
    <label for="from_cur">Количество</label>
  </div>
  <div class="input-field col s2">
    <%= collection_select :currency, :sign, Currency.all.map {|c| [{:name => c.first.name, :rate => c.rate, :count => c.currency_count}]}, :id, :name %>
  </div>
  
  <div class="input-field col s1">
    <input id="to_cur" type="text">
    <label for="to_cur">Количество</label>
  </div>
  <div class="input-field col s2">
    <%= collection_select(:currency, :sign, Currency.all, :id, :name, {rate: :rate}) %>
  </div>
</div>

<table class="striped">
  <thead>
    <tr>
      <th>Валюта</th>
      <th>Количество</th>
      <th>Курс</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @currencies.each do |currency| %>
      <tr class="content-label">
        <td><img src="/images/flags/<%= currency.sign %>.png" height="20px" alt="<%= currency.sign %>" valign="middle" />&nbsp;<%= "#{currency.sign} #{currency.name}" %></td>
        <td><%= currency.currency_count %></td>
        <td><%= currency.rate %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">

$( document ).ready(function(){
  $('#search_field').on('keyup paste', function(){
    text = $(this).val();
    $('tr.content-label').show();
    $('.list-chk').addClass('visible');
    if(text.length > 0){
      $('tr.content-label').hide();
      $('.list-chk').removeClass('visible');
      $( "tr.content-label:contains('" + text + "')" ).show();
      $( "tr.content-label:contains('" + text + "') .list-chk" ).addClass('visible');
    }
  })
})
</script>