<p id="notice"><%= notice %></p>

<p>
  <strong>Counterparty:</strong>
  <%= @money_unit.counterparty_id %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @money_unit.currency_id %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @money_unit.tax_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @money_unit.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @money_unit.name %>
</p>

<p>
  <strong>Period:</strong>
  <%= @money_unit.period %>
</p>

<p>
  <strong>Current period price:</strong>
  <%= @money_unit.current_period_price %>
</p>

<p>
  <strong>Next period price:</strong>
  <%= @money_unit.next_period_price %>
</p>

<p>
  <strong>Current period:</strong>
  <%= @money_unit.current_period %>
</p>

<p>
  <strong>Next period:</strong>
  <%= @money_unit.next_period %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @money_unit.is_active %>
</p>

<%= link_to 'Edit', edit_money_unit_path(@money_unit) %> |
<%= link_to 'Back', money_units_path %>
