<%= form_for(@unit_category) do |f| %>
  <% if @unit_category.errors.any? %>
    <input type="hidden" id="notice" value="<%= @unit_category.errors.full_messages.first  %>" data-type="error" data-state="<%= @unit_category.errors[:state].first %>" data-rollback="<%= @unit_category.errors[:rollback].first %>" />
  <% end %>


  <div class="row">
    <div class="input-field col s6">
      <% if @action == 'show' %>
        <%= f.text_field :name, :readonly => 'readonly' %>
      <% else %>
        <%= f.text_field :name %>
      <% end %>
      <% if @action == 'new' %>
        <%= f.label :Контрагент %>
      <% else %>
        <%= f.label :Контрагент, :class => "active" %>
      <% end %>
    </div>

  </div>

  <div class="row">
    <div class="input-field col s4">
      <% if @action == 'show' %>
        <%= f.text_field :counterparty_id, :readonly => @readonly, :value => @unit_category.counterparty_id  %>
      <% else %> 
        <%= f.collection_select(:counterparty_id, Counterparty.all, :id, :counterparty_name) %>
      <% end %>
      <%= f.label "Валюта", :class => @class %>
    </div>
  </div>

  <% unless @action == 'show' %>
    <div class="actions">
      <%= link_to 'Отмена', unit_category_path, :class => "waves-effect waves-light btn red accent-1" %>
      <button class="btn waves-effect waves-light" type="submit" name="commit">Сохранить</button>
    </div>
  <% end %>
<% end %>