<%= form_for(@unit_category) do |f| %>
  <% if @unit_category.errors.any? %>
    <input type="hidden" id="notice" value="<%= @unit_category.errors.full_messages.first  %>" data-type="error" data-state="<%= @unit_category.errors[:state].first %>" data-rollback="<%= @unit_category.errors[:rollback].first %>" />
  <% end %>


  <div class="row">
    <div class="input-field col s6">
      <% if @action == 'show' %>
        <%= f.text_field :name, :readonly => 'readonly' %>
      <% else %>
        <%= f.text_field :name %>
      <% end %>
      <% if @action == 'new' %>
        <%= f.label "Категория" %>
      <% else %>
        <%= f.label "Категория", :class => "active" %>
      <% end %>
    </div>

  </div>

  <div class="row">
    <div id="counterparty_select" class="input-field col s6">
      <% if @action == 'show' %>
        <%= f.text_field :id, :readonly => 'readonly', :value => (@unit_category.counterparty.nil? ? 'Не указан' : @unit_category.counterparty.counterparty_name)  %>
      <% else %> 
        <%= f.collection_select(:counterparty_id, Counterparty.where(:is_active => 1), :id, :counterparty_name, :include_blank => "Не указан") %>
      <% end %>
      <%= f.label "Контрагент", :class => (@action == 'show' ? 'active' : '') %>
    </div>
    <% if @action != 'show' %>
      <div class="input-field col s2">
        <a class="btn-floating waves-effect waves-light btn modal-trigger" href="#addCounterpartyModal"><i class="material-icons">add</i></a>
      </div>

      <div id="addCounterpartyModal" class="modal bottom-sheet">
        <div class="modal-content">
          <h4>Добавить контрагента</h4>
          <div class="row">
            <div class="input-field col s6">
              <%= text_field(:counterparty, :counterparty_name, :placeholder => 'Контрагент') %>
            </div>
          </div>          
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">ОТМЕНА</a>
          <a href="#!" id="counterpartyModalAddBtn" class="waves-effect waves-green btn-flat ">ДОБАВИТЬ</a>
        </div>
      </div>

    <% end %>
  </div>
  
  <% unless @action == 'show' %>
    <div class="actions">
      <%= link_to 'Отмена', unit_categories_url, :class => "waves-effect waves-light btn red accent-1" %>
      <button class="btn waves-effect waves-light" type="submit" name="commit">Сохранить</button>
    </div>
  <% end %>
<% end %>