<h3>Авторизация</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="input-field col m4 s12">
      <%= f.email_field :email, autofocus: true %>
      <%= f.label :email %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col m4 s12">
    <%= f.password_field :password, autocomplete: "off" %>
    <%= f.label :password %>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="input-field col m4 s12">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
      </div>
    <% end -%>
  </div>
  <div class="row">
    <div class="input-field col s12">
    <%= f.submit "ВОЙТИ", class: "btn waves-effect waves-light" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
