<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <input type="hidden" id="notice" value="<%= @card.errors.full_messages.first  %>" data-type="error" data-state="<%= @card.errors[:state].first %>" data-rollback="<%= @card.errors[:rollback].first %>" />
  <% end %>

  <% if @action == 'new' %>
    <% @class = "active" %>
  <% else %>
    <% @class = nil %>
  <% end %>

  <div class="row">
    <div class="input-field col s4">
      <%= f.text_field :alias %>
      <%= f.label "Название карты", :class => @class %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4">
      <%= f.text_field :card_number, :maxlength => 19 %>
      <%= f.label "Номер карты", :class => @class %>
      <%= f.hidden_field :cc_type %>
    </div>
    <div class="input-field col s1">
      <img src="/images/blank.png" id="card_type" class="responsive-img" width="64px" />
    </div>
  </div>
  
  <div class="row">
    <div class="input-field col s12">
      <p class="caption">Срок действия</p>
    </div>
    <div class="input-field col s2">
      <%= f.text_field :month_end %>
      <%= f.label "Месяц (ММ)", :class => @class %>
    </div>
    <div class="input-field col s2">
      <%= f.text_field :year_end %>
      <%= f.label "Год (ГГ)", :class => @class %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4">
      <%= f.text_field :owner %>
      <%= f.label "Владелец карты", :class => @class %>
    </div>
  </div>

  <div class="actions">
    <%= link_to 'Отмена', cards_path, :class => "waves-effect waves-light btn red accent-1" %>
    <button class="btn waves-effect waves-light" type="submit" name="commit">Сохранить</button>
  </div>
<% end %>
