<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <input type="hidden" id="notice" value="<%= @card.errors.full_messages.first  %>" data-type="error" data-state="<%= @card.errors[:state].first %>" data-rollback="<%= @card.errors[:rollback].first %>" />
  <% end %>

  <% if @action == 'edit' or @action == 'show' %>
    <%
      @class = "active"
      @curr = @card.currency
    %>

  <% else %>
    <% @class = nil %>
  <% end %>
  <% if @action == 'show' %>
    <% @readonly = ' "readonly"' %>
  <% else %>
    <% @readonly = nil %>
  <% end %>
  <div class="row">
    <div class="input-field col m4 s12">
      <%= f.text_field :alias, :readonly => @readonly %>
      <%= f.label "Название карты", :class => @class %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col m4 s12">
      <% if @action == 'show' %>
        <%= f.text_field :currency_id, :readonly => @readonly, :value => @card.currency.name  %>
      <% else %>
        <%= f.collection_select(:currency_id, Currency.all, :id, :name) %>
      <% end %>
      <%= f.label "Валюта", :class => @class %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col m4 s10">
      <%= f.text_field :card_number, :maxlength => 19, :readonly => @readonly  %>
      <%= f.label "Номер карты", :class => @class %>
      <%= f.hidden_field :cc_type %>
    </div>
    <div class="input-field col m1 s2">
      <img src="/images/blank.png" id="card_type" class="responsive-img" width="64px" />
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <p class="caption">Срок действия</p>
    </div>
  </div>

  <div class="row">
    <div class="input-field col m2 s6">
      <% if @action == 'show' %>
        <%= f.text_field :month_end, :readonly => @readonly  %>
      <% else %>
        <%= f.select :month_end, ((1..12).map {|i| [i,i] }) %>
      <% end %>
      <%= f.label "Месяц", :class => @class %>
    </div>
    <div class="input-field col m2 s6">
      <% if @action == 'show' %>
        <%= f.text_field :year_end, :readonly => @readonly  %>
      <% else %>
        <%= f.select :year_end, ((Time.now.year..Time.now.year+10).map {|i| [i,i] }) %>
      <% end %>
      <%= f.label "Год", :class => @class %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col m4 s12">
      <%= f.text_field :owner, :readonly => @readonly %>
      <%= f.label "Владелец карты", :class => @class %>
    </div>
  </div>
  <% unless @action == 'show' %>
    <%= f.hidden_field :is_active, :value => 1 %>
    <div class="actions">
      <%= link_to 'Отмена', cards_path, :class => "waves-effect waves-light btn red accent-1" %>
      <button class="btn waves-effect waves-light" type="submit" name="commit">Сохранить</button>
    </div>
  <% end %>
<% end %>
