<% unless notice.nil? %>
  <input type="hidden" id="notice" value="<%= notice %>" data-type="<%= flash[:type] %>" data-state="<%= flash[:state] %>" data-rollback="<%= flash[:rollback_url] %>" />
<% end %>
<h3 class="header">Карты</h3>

<div class="row">
  <div class="input-field col m6 s12">
    <input id="search_field" type="text">
    <label for="search_field">Поиск</label>
  </div>
</div>
<%= form_tag destroy_multiple_cards_path, method: :post, :id => 'items-list' do %>

<div class="row hide-on-med-and-down">
  <div class="col m6 s12">
    <a class="btn" id="btn_select_all"><i class="material-icons left" id="cb_chk_all_icon">check_box_outline_blank</i><span id="cb_chk_all_text">Выбрать все</span></a>
    <%= link_to new_card_path, :class => "btn" do %>
      <i class="material-icons left">add</i>Добавить</a>
    <% end %>

    <button id="btd_delete" class="btn red lighten-3 disabled" name="commit" type="submit" data-confirm="Вы уверены, что хотите удалить выбранные карты?" rel="nofollow" data-method="delete">
      <i class="material-icons left">delete</i>Удалить
    </button>
  </div>
</div>

<div class="row hide-on-large-only">
  <div class="col m6 s12">
    <a class="btn-floating" id="btn_select_all_small"><i class="material-icons left" id="cb_chk_all_icon_small">check_box_outline_blank</i></a>
    <%= link_to new_card_path, :class => "btn-floating" do %>
      <i class="material-icons left">add</i></a>
    <% end %>

    <button id="btd_delete_small" class="btn-floating red lighten-3 disabled" name="commit" type="submit" data-confirm="Вы уверены, что хотите удалить выбранные карты?" rel="nofollow" data-method="delete">
      <i class="material-icons left">delete</i>
    </button>
  </div>
</div>


<div class="row">
  <div class="col s12">
    <table class="striped">
      <thead>
        <tr>
          <th></th>
          <th>Карта</th> <!-- ALias -->
          <th class="hide-on-small-only">Владелец</th> <!-- Owner -->
          <th class="hide-on-small-only">Строк действия</th> <!-- Month end + Year end -->
        </tr>
      </thead>

      <tbody>
        <% @cards.each do |card| %>
          <tr class="content-label">
            <td>
              <input type="checkbox" class="list-chk visible filled-in" name="cards[]" value="<%= card.id %>" id="card-<%= card.id %>" />
              <label for="card-<%= card.id %>"><img src="/images/cards/<%= card.cc_type %>.png" height="20px" alt="<%= card.cc_type.capitalize! %>"/></label>
            </td>
            <td>
              <label for="card-<%= card.id %>"><%= if card.alias.nil? or card.alias.empty? then card.card_number else card.alias end %></label>
              <span class="hidden"><%= card.card_number %></span>
            </td>
            <td class="hide-on-small-only">
              <label for="card-<%= card.id %>"><%= unless card.owner.nil? or card.owner.empty? then card.owner else 'Не известен' end %></label>
            </td>
            <td class="hide-on-small-only">
              <label for="card-<%= card.id %>"><%= unless (card.month_end.nil? or card.month_end <= 0) and (card.year_end.nil? or card.year_end <= 0) then month_name(card.month_end) + ' ' + card.year_end.to_s else '-/-' end %></label>
            </td>
            <td>
              <div class="hide-on-small-only">
                <%= link_to card, :class => "btn-floating btn cyan lighten-3" do %><i class="material-icons">launch</i><% end %>
                <%= link_to edit_card_path(card), :class => "btn-floating btn teal lighten-3" do %><i class="material-icons">edit</i><% end %>
                <%= link_to card, :class => "btn-floating btn red lighten-3", method: :delete, data: { confirm: 'Вы уверены, что хотите удалить карту "' + if card.alias.nil? or card.alias.empty? then card.card_number else card.alias end + '"?' } do %><i class="material-icons">delete</i><% end %>
              </div>
              <div class="hide-on-med-and-up">
                <%= link_to card, :class => "btn cyan lighten-3" do %><i class="material-icons">launch</i><% end %><br /><br />
                <%= link_to edit_card_path(card), :class => "btn teal lighten-3" do %><i class="material-icons">edit</i><% end %><br /><br />
                <%= link_to card, :class => "btn red lighten-3", method: :delete, data: { confirm: 'Вы уверены, что хотите удалить карту "' + if card.alias.nil? or card.alias.empty? then card.card_number else card.alias end + '"?' } do %><i class="material-icons">delete</i><% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
<script type="text/javascript">
$( document ).ready(function(){
  $('#btn_select_all, #btn_select_all_small').on('click', function(){
    $(".list-chk:not(.visible)").prop('checked', false);
    $(".list-chk.visible").prop('checked', !($('.list-chk.visible:checked').size() == $(".list-chk.visible").size()) );
    check_any_selected();
    check_all_selected();
  })

  $(".list-chk.visible").change(function(){
    check_any_selected();
    check_all_selected();
  })

  function check_all_selected(){
    if( $('.list-chk.visible:checked').size() == $(".list-chk.visible").size() && $(".list-chk.visible").size() > 0 ){
      $('#cb_chk_all_icon').text('check_box');
      $('#cb_chk_all_icon_small').text('check_box');
      $('#cb_chk_all_text').text('Снять выделение');
      return true;
    }
    else{
      $('#cb_chk_all_icon').text('check_box_outline_blank');
      $('#cb_chk_all_icon_small').text('check_box_outline_blank');
      $('#cb_chk_all_text').text('Выделить все');
      return false;
    }
  }
  function check_any_selected(){
    if ($('.list-chk.visible:checked').size() > 0 ){
      $('#btd_delete, #btd_delete_small').removeClass('disabled');
      return true;
    }
    else{
      $('#btd_delete, #btd_delete_small').addClass('disabled');
      return false;
    }
  }

  $('#search_field').on('keyup paste', function(){
    text = $(this).val();
    $('tr.content-label').show();
    $('.list-chk').addClass('visible');
    if(text.length > 0){
      $('tr.content-label').hide();
      $('.list-chk').removeClass('visible');
      $( "tr.content-label:contains('" + text + "')" ).show();
      $( "tr.content-label:contains('" + text + "') .list-chk" ).addClass('visible');
    }
    check_all_selected();
  })

  check_any_selected();
  check_all_selected();
})
</script>
