<%= form_for(@tax) do |f| %>
  <% if @tax.errors.any? %>
    <input type="hidden" id="notice" value="<%= @tax.errors.full_messages.first  %>" data-type="error" data-state="<%= @tax.errors[:state].first %>" data-rollback="<%= @tax.errors[:rollback].first %>" />
  <% end %>


  <div class="row">
    <div class="input-field col m5 s9">
      <% if @action == 'show' %>
        <%= f.text_field :name, :readonly => 'readonly' %>
      <% else %>
        <%= f.text_field :name %>
      <% end %>
      <% if @action == 'new' %>
        <%= f.label :Налог %>
      <% else %>
        <%= f.label :Налог, :class => "active" %>
      <% end %>
    </div>
    <div class="input-field col m1 s3">
      <% if @action == 'show' %>
        <%= f.text_field :percent, :readonly => 'readonly' %>
      <% else %>
        <%= f.text_field :percent %>
      <% end %>
      <% if @action == 'new' %>
        <%= f.label :Процент %>
      <% else %>
        <%= f.label :Процент, :class => "active" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col m6 s12">
      <% if @action == 'show' %>
        <%= f.text_area :desc, :readonly => 'readonly', :class => "materialize-textarea" %>
      <% else %>
        <%= f.text_area :desc, :class => "materialize-textarea" %>
      <% end %>
      <% if @action == 'new' %>
        <%= f.label :Описание %>
      <% else %>
        <%= f.label :Описание, :class => "active" %>
      <% end %>
    </div>
  </div>
  <% unless @action == 'show' %>
    <div class="actions">
      <%= link_to 'Отмена', taxes_path, :class => "waves-effect waves-light btn red accent-1" %>
      <button class="btn waves-effect waves-light" type="submit" name="commit">Сохранить</button>
    </div>
  <% end %>
<% end %>
