<% unless notice.nil? %>
  <input type="hidden" id="notice" value="<%= notice %>" data-type="<%= flash[:type] %>" data-state="<%= flash[:state] %>" data-rollback="<%= flash[:rollback_url] %>" />
<% end %>
<h3 class="header">Налоги</h3>

<div class="row">
  <div class="input-field col s6">
    <input id="search_field" type="text">
    <label for="search_field">Поиск</label>
  </div>
</div>
<%= form_tag destroy_multiple_taxes_path, method: :post, :id => 'items-list' do %>
<div class="row">
  <div class="col s12">
    <a class="waves-effect waves-light btn" id="btn_select_all"><i class="material-icons left" id="cb_chk_all_icon">check_box_outline_blank</i><span id="cb_chk_all_text">Выбрать все</span></a>
    <%= link_to new_tax_path, :class => "waves-effect waves-light btn" do %>
      <i class="material-icons left">add</i>Добавить</a>
    <% end %>

    <button id="btd_delete" class="waves-effect waves-light btn red lighten-3 disabled" name="commit" type="submit" data-confirm="Вы уверены, что хотите удалить выбранные налоги?" rel="nofollow" data-method="delete">
      <i class="material-icons left">delete</i>Удалить
    </button>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <table class="striped">
      <thead>
        <tr>
          <th>Налог</th>
          <th>Процент</th>
          <th>Описание</th>
        </tr>
      </thead>
    
      <tbody>
        <% @taxes.each do |tax| %>
          <tr class="content-label">
            <td>
              <input type="checkbox" class="list-chk visible filled-in" name="taxes[]" value="<%= tax.id %>" id="tax-<%= tax.id %>" />
              <label for="tax-<%= tax.id %>"><%= tax.name %></label>
            </td>
            <td>
              <label for="tax-<%= tax.id %>"><%= tax.percent %>%</label>
            </td>
            <td>
              <label for="tax-<%= tax.id %>"><%= tax.desc %></label>
            </td>
            <td>
              <%= link_to tax, :class => "btn-floating btn cyan lighten-3" do %>
                <i class="material-icons">launch</i>
              <% end %>
              <%= link_to edit_tax_path(tax), :class => "btn-floating btn teal lighten-3" do %>
                <i class="material-icons">edit</i>
              <% end %>
              <%= link_to tax, :class => "btn-floating btn red lighten-3", method: :delete, data: { confirm: 'Вы уверены, что хотите удалить налог "' + tax.name + '"?' } do %>
                <i class="material-icons">delete</i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
<script type="text/javascript">

$( document ).ready(function(){
  $('#btn_select_all').on('click', function(){
    $(".list-chk:not(.visible)").prop('checked', false);
    $(".list-chk.visible").prop('checked', !($('.list-chk.visible:checked').size() == $(".list-chk.visible").size()) );
    check_any_selected();
    check_all_selected();
  })

  $(".list-chk.visible").change(function(){
    check_any_selected();
    check_all_selected();
  })

  function check_all_selected(){
    if( $('.list-chk.visible:checked').size() == $(".list-chk.visible").size() && $(".list-chk.visible").size() > 0 ){
      $('#cb_chk_all_icon').text('check_box');
      $('#cb_chk_all_text').text('Снять выделение');
      return true;
    }
    else{
      $('#cb_chk_all_icon').text('check_box_outline_blank');
      $('#cb_chk_all_text').text('Выделить все');
      return false;
    }
  }
  function check_any_selected(){
    if ($('.list-chk.visible:checked').size() > 0 ){
      $('#btd_delete').removeClass('disabled');
      return true;
    }
    else{
      $('#btd_delete').addClass('disabled');
      return false;
    }
  }

  $('#search_field').on('keyup paste', function(){
    text = $(this).val();
    $('tr.content-label').show();
    $('.list-chk').addClass('visible');
    if(text.length > 0){
      $('tr.content-label').hide();
      $('.list-chk').removeClass('visible');
      $( "tr.content-label:contains('" + text + "')" ).show();
      $( "tr.content-label:contains('" + text + "') .list-chk" ).addClass('visible');
    }
    check_all_selected();
  })

  check_any_selected();
  check_all_selected();
})
</script>