<!DOCTYPE html>
<html>
<head>
  <title>Домашняя бухгалтерия</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

  <%= javascript_include_tag 'application' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="Домашняя бухгалтерия">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/images/favicons/manifest.json">
  <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">

  <meta name="apple-mobile-web-app-title" content="Домашняя Бухгалтерия">
  <meta name="application-name" content="Домашняя Бухгалтерия">
  <meta name="theme-color" content="#00acc1">

</head>
<body>
  <!-- Navbar goes here -->
  <nav>
	<div class="nav-wrapper cyan darken-1">
	  <a href="#" class="brand-logo">
		<a id="logo-container" href="/" class="brand-logo"><img src="/images/homeacc_logo_white.png" class="glogo responsive-img" height="64" align="center" /></a>
	  </a>

	  <ul class="right hide-on-med-and-down">
	  	<% if user_signed_in? %>
		<li><a href="/">ОБЗОР</a></li>
		<li><a class="dropdown-button" data-activates="money-list">ДЕНЬГИ И ОТЧЕТЫ<i class="material-icons right">arrow_drop_down</i></a></li>
		<ul id="money-list" class="dropdown-content">
		  <li><%= link_to "Сводная таблица", :money_units %></li>
		  <li><%= link_to "Прибыль", "/money_units/new/in" %></li>
		  <li><%= link_to "Трата", "/money_units/new/out" %></li>
		  <li><%= link_to "Отложенный платеж", :new_money_unit %></li>
      <li class="divider"></li>
      <li><%= link_to "Импорт данных", :data_import_import_csv %></li>
		</ul>

		<li><a class="dropdown-button" data-activates="dict-list">СПРАВОЧНИКИ<i class="material-icons right">arrow_drop_down</i></a></li>
		<ul id="dict-list" class="dropdown-content">
		  <li><%= link_to "Контрагенты", :counterparties %></li>
		  <li><%= link_to "Карты", :cards %></li>
		  <li><%= link_to "Валюты", :currencies %></li>
		  <li><%= link_to "Налоги", :taxes %></li>
		  <li><%= link_to "Категории затрат", :unit_categories %></li>
			<li><%= link_to "Группы категорий", :categories_groups %></li>
		</ul>
		<% end %>
		<li>
			<% if user_signed_in? %>
			    <%= link_to 'ВЫЙТИ', destroy_user_session_path, :method => :delete %>
			<% else %>
			    <%= link_to 'ВОЙТИ', new_user_session_path %>
			<% end %>
		</li>
	  </ul>
	  <ul id="slide-out" class="side-nav">
      <% if user_signed_in? %>
		<li><a href="/">ОБЗОР</a></li>
		<li><a class="dropdown-button" data-activates="money-list-small">ДЕНЬГИ И ОТЧЕТЫ<i class="material-icons right">arrow_drop_down</i></a></li>
		<ul id="money-list-small" class="dropdown-content">
		  <li><%= link_to "Сводная таблица", :money_units %></li>
		  <li><%= link_to "Прибыль", "/money_units/new/in" %></li>
		  <li><%= link_to "Трата", "/money_units/new/out" %></li>
		  <li><%= link_to "Отложенный платеж", :new_money_unit %></li>
      <li class="divider"></li>
      <li><%= link_to "Импорт данных", :data_import_import_csv %></li>
		</ul>

		<li><a class="dropdown-button" data-activates="dict-list-small">СПРАВОЧНИКИ<i class="material-icons right">arrow_drop_down</i></a></li>
		<ul id="dict-list-small" class="dropdown-content">
		  <li><%= link_to "Контрагенты", :counterparties %></li>
		  <li><%= link_to "Карты", :cards %></li>
		  <li><%= link_to "Валюты", :currencies %></li>
		  <li><%= link_to "Налоги", :taxes %></li>
		  <li><%= link_to "Категории затрат", :unit_categories %></li>
			<li><%= link_to "Группы категорий", :categories_groups %></li>
		</ul>
		<% end %>
		<li>
			<% if user_signed_in? %>
			    <%= link_to 'ВЫЙТИ', destroy_user_session_path, :method => :delete %>
			<% else %>
			    <%= link_to 'ВОЙТИ', new_user_session_path %>
			<% end %>
		</li>
	  </ul>
	  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
	</div>
  </nav>
  <div class="container">
    <div class="section">
      <div class="row">
  	  <div class="col s12">
  	  	<p class="notice"><%= notice %></p>
  			<p class="alert"><%= alert %></p>
  			  <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
	<a class="btn-floating btn-large cyan darken-1">
	  <i class="material-icons">menu</i>
	</a>
	<ul>
	  <li><a href="/money_units/new/in" class="btn-floating green" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="material-icons">add</i></a></li>
	  <li><a href="/money_units/new/out" class="btn-floating red" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="material-icons">remove</i></a></li>
	  <li><a href="/money_units/new/schedule" class="btn-floating blue darken-4" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="material-icons">schedule</i></a></li>
	</ul>
  </div>

  <div id="confirmation_modal" class="modal">
    <div class="modal-content">
      <h4 id="modal_title">Подтердите удаление</h4>
      <p id="modal_text"></p>
    </div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Отмена</a>
		<a href="#!" id="button-confirm" class="modal-action modal-close waves-effect waves-green btn-flat ">Удалить</a>
	</div>
  </div>
  <% end %>
</body>
<script>
  $( document ).ready(function(){
		$(".button-collapse").sideNav();
		$(".dropdown-button").dropdown();
  })
</script>
</html>
